<?xml version='1.0' encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.six.dcsystem.Dao.UserMapper">
    <resultMap id="userMap" type="com.six.dcsystem.Bean.User">
        <id column="userid" jdbcType="INTEGER" property="userid"></id>
        <result column="username" jdbcType="VARCHAR" property="username"></result>
        <result column="password" jdbcType="VARCHAR" property="password"></result>
        <result column="jurisdiction" jdbcType="VARCHAR" property="jurisdiction"></result>
    </resultMap>

    <sql id="user">
        userid,username,password,jurisdiction
    </sql>

    <select id="userSelect" parameterType="com.six.dcsystem.Bean.User" resultMap="userMap">
        select <include refid="user"/> from user
        where 1=1
        <if test="username!=null">
            and username = #{username,jdbcType=VARCHAR}
        </if>
        <if test="password != null">
            and password = #{password,jdbcType=VARCHAR}
        </if>
    </select>
</mapper>